<!DOCTYPE html>
<html>
<head>
    <title>Gráfico</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>
</head>
<body>
    <h1>Autores más leídos en un mes</h1>
    <div id="lineplot"></div>
    <py-script output="lineplot">
        plt.bar(autores, libros_leidos)
        plt.xlabel('Autores')
        plt.ylabel('Libros Leídos')
        plt.title(f'Autores Más Leídos en {mes}/{año}')
        plt.xticks(rotation=0)  # Rota los nombres de los autores para facilitar la lectura
        plt.tight_layout()
    </py-script>
</body>
</html>