<!DOCTYPE html>
<html>
<head>
    <title>Carrito de Pedidos</title>
</head>
<body>
    <h1>Carrito de Pedidos</h1>

    {% if carrito_de_pedidos|length > 3 %}
        <p>Solo puede alquilar 3 libros.</p>
    {% endif %}


    <ul>
        {% for libro in carrito_de_pedidos %}
            <li>
                <strong>Título:</strong> {{ libro.titulo }}<br>
                <strong>Autor(es):</strong> {{ libro.autores|join(', ') }}<br>
                <strong>Categoría:</strong> {{ libro.categoria }}<br>
                <a href="#" class="btn btn-danger delete-book" data-titulo="{{ libro.titulo }}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>

    <form id="confirmarPedidoForm" action="/confirmar_pedido" method="post">
        <button type="button" id="confirmarPedidoBtn" {% if cant_libros_totales > 3 or carrito_de_pedidos|length == 0 %}disabled{% endif %}>Confirmar Pedido</button>
    </form>

    {% if cant_libros_totales < 3 %}
        <a href="{{url_for('alquiler_libros')}}" class="btn btn-primary">Agregar otro libro</a>
    {% else %}
        <p>No puede agregar más libros, ha alcanzado el límite de 3 libros.</p>
    {% endif %}
    <a href="{{url_for('home')}}">Volver al inicio</a>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteButtons = document.querySelectorAll('.delete-book');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                var titulo = button.getAttribute('data-titulo');
                var confirmation = confirm('¿Estás seguro de que deseas eliminar el libro ' + titulo + ' del carrito?');

                if (confirmation) {
                    // Si el usuario confirma, redirige al enlace original de eliminación
                    window.location.href = "{{ url_for('eliminar_libro_carrito', titulo='') }}" + titulo;
                }
            });
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        var confirmarPedidoBtn = document.getElementById('confirmarPedidoBtn');

        confirmarPedidoBtn.addEventListener('click', function () {
            var confirmation = confirm('¿Estás seguro de que deseas confirmar el pedido?');

            if (confirmation) {
                // Si el usuario confirma, envía el formulario
                document.getElementById('confirmarPedidoForm').submit();
            }
        });
    });
</script>
</html>