<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edición de cliente</title>
</head>
<body>
<h1>Edición de cliente</h1>
<form method="POST">
  {{cliente_editar.csrf_token}}
  <p>
    {{cliente_editar.nombre.label}} <br/>
    {{cliente_editar.nombre(size=70)}}
  </p>
  <p>
    {{cliente_editar.apellido.label}} <br/>
    {{cliente_editar.apellido(size=70)}}
  </p>
  <p>
    {{cliente_editar.email.label}} <br/>
    {{cliente_editar.email(size=30)}}
  </p>
  <p>
    {{cliente_editar.nombre_usuario.label}} <br/>
    {{cliente_editar.nombre_usuario(size=70)}}
  </p>
  <p>
    {{cliente_editar.contraseña.label}} <br/>
    {{cliente_editar.contraseña(size=70)}}
  </p>
  <p>
    {{cliente_editar.telefono.label}} <br/>
    {{cliente_editar.telefono(size=70)}}
  </p>
  <p>
    {{cliente_editar.guardar()}}
    <a href="{{url_for('get_all_clientes')}}">Cancelar</a>
  </p>
</form>
</body>
</html>