<!-- Esta será la página principal de la biblioteca -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Konigari</title>
</head>
<body>
<h1>Bienvenido {{persona_logueda.nombre}} {{persona_logueda.apellido}}</h1>
{% if persona_logueda.tipo_persona == 'cliente' %}
    <a href="{{ url_for('alquiler_libros') }}">Alquilar libro</a>
    <a href="{{ url_for('historial_libros') }}">Historial Libros</a>
    <a href="{{ url_for('mostrar_carrito') }}">Mostrar carrito</a>
{% endif %}
{% if persona_logueda.tipo_persona == 'administrador' %}
    <a href="{{ url_for('realizar_devolucion') }}">Realizar una devolución</a>
    <a href="{{ url_for('get_all_clientes') }}">Listado de clientes</a>
    <a href="{{ url_for('estadisticas') }}">Mostrar estadísticas</a>
    <a href="">Enviar emails de recordatorios</a>
{% endif %}
<a href="{{url_for('logout')}}">Cerrar sesión</a>
</body>
</html>