<!-- Esta será la página principal de la biblioteca -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Konigari</title>
</head>
<body>
<h1>Bienvenido {{clienteLogueado.nombre}} {{clienteLogueado.apellido}}</h1>
<a href="{{url_for('alquiler_libros')}}">Alquilar libro</a>
<a href="{{url_for('historial_libros')}}">Historial Libros</a>
<a href="{{url_for('mostrar_carrito')}}">Mostrar carrito</a>
<a href="{{url_for('logout')}}">Cerrar sesión</a>
</body>
</html>