<!DOCTYPE html>
<html>
<head>
    <title>Libros de Open Library</title>
</head>
<body>
    <a href="{{url_for('home')}}">Home</a>
    <h1>Libros de Open Library</h1>
    <ul>
        {% for libro in librosPorAutor %}
            <!-- Verifica si el libro no está en el carrito antes de mostrarlo -->
            {% if not libro.en_carrito %}
                <li>
                    <strong>Título:</strong> {{ libro.titulo }}<br>
                    <strong>Autor(es):</strong> {{ libro.autores|join(', ') }}<br>
                    <form method="POST" action="/agregar_al_carrito">
                        <input type="hidden" name="libro" value="{{ libro }}">
                        <button type="submit" {% if cant_pedidos_cliente >= 3 %}disabled{% endif %}>Agregar al pedido</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <!-- Con esta condición, cuando se tiene al menos 1 libro en el carrito de pedidos, en el
    listado del autor que el cliente buscó, habrá un botón que al apretarlo redireccionará a la página
    de alquiler_libros.html -->
    {% if carrito %}
        <a href="{{ url_for('alquiler_libros') }}" class="btn btn-primary">Buscar libro</a>
    {% endif %}
</body>
</html>





