<!DOCTYPE html>
<html>
<head>
    <title>Libros de Open Library</title>
</head>
<body>
    <h1>Libros de Open Library</h1>
    <ul>
        {% for libro in librosPorAutor %}
            <li>
                <strong>Título:</strong> {{ libro.titulo }}<br>
                <strong>Autor(es):</strong> {{ libro.autores|join(', ') }}<br>
                <strong>Código ISBN:</strong> {{ libro.isbn }}<br>
                <a href="">Agregar al pedido</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>