<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historial Libros</title>
</head>
<body>
    <h1>Libros a devolver</h1>
    <div>
    <table border="1">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Categoría</th>
                <th>Fecha de Pedido</th>
                <th>Fecha de Devolución</th>
            </tr>
        </thead>
        <tbody>
            {% for i in rangoADevolver %}
                <!-- Buscar la forma de usar funciones Python con Jinja2 -->
                <tr>
                    <td>{{libADevolver[i].titulo}}</td>
                    <td>{{autADevolver[i].nombre}}</td>
                    <td>{{catADevolver[i].descripcion}}</td>
                    <td>{{pedADevolver[i].fecha_pedido}}</td>
                    <td>{{pedADevolver[i].fecha_devolucion}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <h1>Libros devueltos</h1>
    <div>
    <table border="1">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Categoría</th>
                <th>Fecha de Pedido</th>
            </tr>
        </thead>
        <tbody>
            {% for i in rangoDevueltos %}
                <!-- Buscar la forma de usar funciones Python con Jinja2 -->
                <tr>
                    <td>{{libDevueltos[i].titulo}}</td>
                    <td>{{autDevueltos[i].nombre}}</td>
                    <td>{{catDevueltos[i].descripcion}}</td>
                    <td>{{pedDevueltos[i].fecha_pedido}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <a href="{{url_for('home')}}">Volver</a>
</body>
</html>