<!DOCTYPE html>
<html>
<head>
    <title>Libros de Open Library</title>
</head>
<body>
    <h1>Libros de Open Library</h1>
    <ul>
        {% for libro in librosPorGenero %}
            {% if not libro.en_carrito %}
                <li>
                    <strong>Título:</strong> {{ libro.titulo }}<br>
                    <strong>Autor(es):</strong> {{ libro.autores|join(', ') }}<br>
                    <form method="POST" action="/agregar_al_carrito">
                        <input type="hidden" name="libro" value="{{ libro }}">
                        <button type="submit" {% if cant_pedidos_cliente >= 3 %}disabled{% endif %}>Agregar al pedido</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>