<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de clientes</title>
</head>
<body>
<h1>Listado de clientes</h1>

<div>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre de usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Usuario telegram</th>
            </tr>
        </thead>
        <tbody>
        <!--Este tablerow debe de repetirse tantas veces como elementos tengamos. Entonces usamos un ciclo for para iterar.
        Esto se lee 'para cada cli en clientesParam'. Recordemos que clientesParam es la variable que se comparte
        en el método render_template()-->
            {% for cli in clientesParam %}
                <tr>
                    <td>{{cli.id_cliente}}</td>
                    <td>{{cli.nombre}}</td>
                    <td>{{cli.apellido}}</td>
                    <td>{{cli.email}}</td>
                    <td>{{cli.nombre_usuario}}</td>
                    <td>{{cli.telefono}}</td>
                    <td>{{cli.usuario_telegram}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>