<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de {{ titulo }}</title>
</head>
<body>
<h1>Listado de {{ titulo }}</h1>

<div>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Nombre de usuario</th>
                <th>Teléfono</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for per in personas_param %}
                <tr>
                    <td>{{per.id}}</td>
                    <td>{{per.nombre}}</td>
                    <td>{{per.apellido}}</td>
                    <td>{{per.email}}</td>
                    <td>{{per.nombre_usuario}}</td>
                    <td>{{per.telefono}}</td>
                    <td><a href="{{url_for('update_persona', id=per.id)}}">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<a href="{{url_for('home')}}">Volver</a>

</body>
</html>